.grad1{
    /* background-image: linear-gradient(to right, red , yellow); */
    height: 700px;
    width: 1260px;
    background-color: rgb(57, 34, 34); /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(54, 34, 34), rgb(80, 80, 64));
    z-index: -300;
    background-attachment: fixed;
}
h1 {
    color: wheat;
    text-align: center;
    /* justify-content: center; */
}

h2 {
    color: wheat;
    text-align: center;

}

.btn {
    text-align: center;

}

.round {
    text-align: center;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 100px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.flex-parent {
    display: flex;
} 
.jc-center {
    justify-content: center;
}
button.margin-right {
    margin-right: 20px;
}

/* .round .b{ */
    border-radius: 50%;
/* } */